.admin-page {
	padding: 0 var(--theme-page-padding-x) var(--theme-page-padding-x);
	color: var(--theme-text-black);
}

/* Admin page header styles. */
.admin-page__title {
	font-size: var(--font-size-medium);
}

.admin-page__header {
	display: flex;
	align-items: center;
	margin: var(--sizing-medium) 0;
}

.admin-page__options {
	margin-left: auto;
	font-size: var(--font-size-small);
	font-weight: var(--font-weight-bold);
}

/* Information message. */
.info-message {
	font-size: var(--font-size-small);
	font-weight: var(--font-weight-regular);
}

/* Form stylings */

/* The container that has the input groups. */
.page-form__options {
	margin: 0 0 var(--sizing-medium);
	display: flex;
	gap: 2rem;
}

.page-form__options :is(button, a) {
	text-decoration: underline;
	font-size: var(--font-size-small);
	font-weight: var(--font-weight-bold);
}

.page-form__inputs {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
}

/* Everything below the admin page header (title, options, form options) is of the same font-size. */
.page-form__inputs, .page-table {
	font-size: var(--font-size-xsmall);
}


/* Table styling */
.page-table {
	width: 100%;
}

.page-table :is(th, td) {
	text-align-last: left;
	padding: 1.5rem;
}

.page-table thead tr {
	background-color: var(--theme-text-white);
}

.page-table td {
	font-weight: var(--font-weight-medium);
}

.row-options {
	display: flex;
	gap: 0.8rem;
}

.row-options svg {
	width: var(--theme-icons-size-small);
	height: var(--theme-icons-size-small);
}

.row-options__edit svg {
	fill: var(--theme-text-black);
}

.row-options__delete svg {
	fill: var(--theme-error-color);
}

/* Form styling */
.form__group:has(textarea) {
	min-width: 100%;
}

.form__group textarea {
	min-width: 100%;
	resize: none;
	max-width: 100%;
	min-height: 50rem;
}
