{{define "components/header"}}
	<header class="header">
		<span class="username">{{.User.Username}}</span>

		<nav class="header__navigation">
			{{range $link := .Links}}
				{{ $isActive := eq $link.Path $.Path }}

				{{/* Skip this link if it requires admin but the use is not admin. */}}
				{{if and $link.IsAdminOnly (ne $.User.Role "admin")}}
					{{continue}}
				{{end}}

				<a class="navigation__link {{if $isActive}} navigation__link--active{{end}}" href="{{$link.Path}}">
					{{template "components/icon" $link.Icon}}
					<span>{{$link.Name}}</span>
				</a>
			{{end}}
		</nav>

		<form method="post" class="header__logout_form" action="/admin/auth/logout">
			<button class="form__button" type="submit">
				Cerrar sesion
					{{template "components/icon" "logout"}}
			</button>

		</form>
	</header>
{{end}}
