*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:is(:focus-visible, :active) {
    outline: none;
}

:root {
	/* Colors */
	--color-blue-1: #482ff7;
	--color-black-1: #303A52;
	--color-white-1: #FDFDFD;
	--color-white-2: #F0F0F0;
	--color-gray-1: #A49EB5;
	--color-gray-2: #ABABC2;
	--color-gray-3: #DDDDE2;
	--color-red-1: #E41749;
	--color-green-1: #086972;

	/* Sizing */
	--sizing-xsmall: 1rem;
	--sizing-small: 1.5rem;
	--sizing-medium: 6rem;
	--sizing-large: 11rem;

	/* Fonts */
	--font-base-size: 62.5%;
	--font-family-manrope: "Manrope";
	--font-line-height: 1.5;
	--font-size-xsmall: 1.5rem;
	--font-size-small: 2rem;
	--font-size-medium: 3rem;

	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-bold: 700;


	/* Theming for all pages */
	--theme-page-bg-color: var(--color-white-2);
	--theme-text-white: var(--color-white-1);
	--theme-text-black: var(--color-black-1);
	--theme-error-color: var(--color-red-1);
	--theme-success-color: var(--color-green-1);
	--theme-grayed-out-color: var(--color-gray-2);

	--theme-page-padding-x: var(--sizing-medium);

	--theme-icons-size-small: 25px;
	--theme-icons-size-medium: 32px;
}

:root {
    font-family: var(--font-family-manrope), sans-serif;
    line-height: var(--font-line-height);
	font-size: var(--font-base-size);
	background-color: var(--theme-page-bg-color);
}

/* By default all SVG icons are 32x32. */
svg {
	width: var(--theme-icons-size-medium);
	height: var(--theme-icons-size-medium);
	fill: var(--color-white-1);
}

/* Links, input, textarea, and labels inherit colors and size */
a, input, textarea, label, button {
	font-size: inherit;
	color: currentColor;
	background-color: transparent;
	font-weight: inherit;
}

button, a {
	cursor: pointer;
}
