/*
	Styling shared by all forms.
*/

:root {
	/* Theming */

	/* Forms */
	--theme-form-input-height: 5rem;
	--theme-form-input-color: var(--color-black-1);
	--theme-form-placeholder-color: var(--color-gray-1);
	--theme-form-input-bg-color: var(--color-gray-3);
	--theme-input-font-size: var(--font-size-xsmall);
	--theme-form-label-margin-bottom: var(--sizing-xsmall);
}

label, input, textarea, button {
	font-size: var(--theme-input-font-size);
	color: var(--theme-form-input-color);
	font-weight: var(--font-weight-bold);
}

button:is(:focus-visible) {
	outline: solid var(--color-blue-1);
	outline-offset: 3px;
}

input, textarea {
	height: var(--theme-form-input-height);
	padding: 1.2rem;
	border-radius: 0.4rem;

	background-color: var(--theme-form-input-bg-color);
}

/* All labels have the same margin bottom. */
label {
	margin-bottom: var(--theme-form-label-margin-bottom);
}

/* All the placeholders have the same color. */
input::placeholder {
	color: var(--theme-form-placeholder-color);
}
